#ignora todos os arquivos e todas as pastas
*

#Mas aceita estes arquivos e pastas
!/css
!/js
!/css/*
!/js/*
!/.gitignore
!/index.php
!/projeto.php
!/criar.php
!/template
!/template/**
!/composer.json
!/composer.lock
!/editarprojeto.php
!/editar.php
!/delete.php

#depois de aceitar essas pastas ignora .DS_Store(mac)
.DS_Store